<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
  <style>
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>
</head>

<body>
  <% include ./partials/header %>
    <div class="container">
      <form id="formsoal">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">

            <%
      soals.forEach((soal, index)=>{
        var jawaban = [];
        jawaban.push(soal.answer1)
        jawaban.push(soal.answer2)
        jawaban.push(soal.answer3)
        jawaban.push(soal.answer4)
    %>

              <div class="asd page<%= index %>">
                <div class="card">
                  <div class="card-title">
                    <h3 class="card-header" align="center">
                      <%= soal.question %>
                    </h3>
                  </div>
                  <div class="card-block">
                    <div class="form-group">
                      <input type="radio" name="jawaban<%= index %>" value="<%= jawaban[randomJawaban[index][0]] %>">
                      <%= jawaban[randomJawaban[index][0]] %>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="form-group">
                      <input type="radio" name="jawaban<%= index %>" value="<%= jawaban[randomJawaban[index][1]] %>">
                      <%= jawaban[randomJawaban[index][1]] %>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="form-group">
                      <input type="radio" name="jawaban<%= index %>" value="<%= jawaban[randomJawaban[index][2]] %>">
                      <%= jawaban[randomJawaban[index][2]] %>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="form-group">
                      <input type="radio" name="jawaban<%= index %>" value="<%= jawaban[randomJawaban[index][3]] %>">
                      <%= jawaban[randomJawaban[index][3]] %>
                    </div>
                  </div>
                </div>
              </div>
              <%
      })
    %>
          </div>
          <div class="col">
          </div>
        </div><br>
        <div class="row">
          <div class="col text-center">
            <div id="prevId" class="prev"><button type="button" class="btn btn-secondary">Prev</button></div>
          </div>
          <div class="col text-center">
            <button type="button" id="buttonSubmit" name="button">Submit</button>
          </div>
          <div class="col text-center">
            <div id="nextId" class="next"><button type="button" class="btn btn-secondary">Next</button></div>
          </div>
        </div>
      </form>
    </div>
    <div id="loader" class="loader" style="display: none"></div>
    <% include ./partials/footer %>
      <script>
        $(document).ready(function() {
          $("#buttonSubmit").click(function(){
            console.log('sini', $("#formsoal").serialize());
            $("#loader").fadeIn(); //show when submitting
            $.post('/ayoujian/periksa', $("#formsoal").serialize(), function(data){
              $("#loader").fadeOut();
              window.location.href = 'results';
            });
          });
          var page = 0;
          var total = $(".asd").children().length;
          console.log(page);
          if (total === 1) {
            $("#prevId").hide();
            $("#nextId").hide();
          } else {
            $("#prevId").hide();
          }
          $(".asd").hide();
          $(".page0").show();
          $('.next').on('click', function() {
            $('.page' + page).hide();
            $('.page' + ++page).show();
            if(page < total){
              $("#prevId").show();
            }
            if(page === total - 1){
              $("#nextId").hide();
            }
          })
          $('.prev').on('click', function() {
            $('.page' + page).hide();
            $('.page' + --page).show();
            if(page >= 0){
              $("#nextId").show();
            }
            if(page === 0){
              $("#prevId").hide();
            }
          })
        }); // end $(document).ready method
      </script>
</body>

</html>
