<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <table id='user' class="display" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (users.length > 0) { %>
            <% users.forEach((user, index) => { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= user.username %></td>
                <td><%= user.fullname %></td>
                <td><%= user.role %></td>
                <td>
                  <a title="Edit" href="/users/edit/<%= user.id %>"><button class="btn btn-primary" type="button"><span class="fa fa-pencil" aria-hidden="true"></span></button></a>
                  <a title="Delete" onclick="return confirm('Are you sure?')" href="/users/delete/<%= user.id %>"><button class="btn btn-danger" type="button"><span class="fa fa-eraser" aria-hidden="true"></span></button></a>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">No Record Available</td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/users/add"><button type="button" class="btn btn-primary">Add User</button></a>
    </div>
    <% include ./partials/footer %>
    <script>
      $(document).ready(function(){
          $('#user').DataTable({
            responsive: true,
            scrollX: true,
          });
      });
    </script>
  </body>
</html>
