<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/header %>
    <div class="container">
      <% if(err) { %>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <%= err.message %>
          </div>
        </div>
        <br>
        <% } %>
          <table id="exams" class="display" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>ID</th>
                <th>Exam Name</th>
                <th>Total Question</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%
        for(var i = 0;i<exams.length;i++) {
          %>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= exams[i].id %>
                  </td>
                  <td>
                    <%= exams[i].examName %>
                  </td>
                  <td>
                    <%= exams[i].jumlahSoal %>
                  </td>
                  <td>
                    <a href="/exams/edit/<%= exams[i].id %>" title="Edit"><button type="button" class="btn btn-primary"><span class="fa fa-pencil" aria-hidden="true"></span></button></a>
                    <a onclick="return confirm('Are you sure?')" href="/exams/delete/<%= exams[i].id %>" title="Delete"><button type="button" class="btn btn-danger"><span class="fa fa-eraser" aria-hidden="true"></span></button></a>
                    <a href="/exams/assign/<%= exams[i].id %>" title="Assign Question"><button type="button" class="btn btn-primary"><span class="fa fa-question-circle-o"></span></button></a>
                  </td>
                </tr>
                <%
        }
      %>
            </tbody>
          </table>
          <a href="/exams/add"><button type="button" class="btn btn-primary">Add Exam</button></a>
    </div>
    <% include ./partials/footer %>
      <script>
        $(document).ready(function() {
          $('#exams').DataTable({
            responsive: true,
            scrollX: true,
          });
        });
      </script>
</body>

</html>
